@model LionKingBankAccount.ViewModels.BankAccounts
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LK Bank: all customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            font-family: Courier New, Courier, monospace;
        }
        th {
            border: 1.5px solid;
            border-color: darkolivegreen;
            background-color: lightgreen;
            font-size: 20px;
            color: forestgreen;
        }
        td {
            border: 1px solid;
            border-color: darkgoldenrod;
            background-color: khaki;
            font-size: 14px;
            color: darkslateblue;
        }
    </style>
</head>
<body>
    <table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Race</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>King/Csíra</th>
            <th>Good/Bad</th>
        </tr>

        @foreach (var account in Model.Accounts)
        {
        <tr>
            <td>@account.ID</td>
            <td>@account.Name</td>
            <td>@account.AnimalType</td>
            <td style="text-align: right">@account.FormatBalance()</td>
            <td>@account.Currency</td>
            
            @if (account.IsKing)
            {
            <td>👑</td>
            }
            else
            {
            <td>🌱</td>
            }

            @if (account.IsBad)
            {
            <td>😈</td>
            }
            else
            {
            <td>😇</td>
            }
        </tr>
        }
    </table>
</body>
</html>