@model List<ListingTodos.Models.Todo>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>

    <h1>TODOS MATCHING YOUR SEARCH</h1>
    <table class="table table-sm @*table-striped table-borderless*@ table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">TODO</th>
            <th scope="col">MODIFY</th>
            <th scope="col">REMOVE</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            @if (Model[i].IsDone == true)
            {
                <tr class="bg-success">
                    <td scope="row">@(i + 1)</td>
                    <td scope="row">@Model[i].Title</td>
                    <td scope="row">
                        <form method="post" action="/update/@Model[i].Id">
                            <input type="text" name="newTitle" placeholder="Rename task..." />
                            <label>Urgent? </label><input type="checkbox" name="isUrgent" value="true" />
                            <label>Done yet? </label><input type="checkbox" name="isDone" value="true" />
                            <input type="submit" class="btn btn-primary btn-sm" value="Update" />
                        </form>
                    </td>
                    <td scope="row">
                        <form method="post" action="/remove/@Model[i].Id">
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove" />
                        </form>
                    </td>
                </tr>
            }
            else if (Model[i].IsUrgent == true)
            {
                <tr class="bg-warning">
                    <td scope="row">@(i + 1)</td>
                    <td scope="row">@Model[i].Title</td>
                    <td scope="row">
                        <form method="post" action="/update/@Model[i].Id">
                            <input type="text" name="newTitle" placeholder="Rename task..." />
                            <label>Urgent? </label><input type="checkbox" name="isUrgent" value="true" />
                            <label>Done yet? </label><input type="checkbox" name="isDone" value="true" />
                            <input type="submit" class="btn btn-primary btn-sm" value="Update" />
                        </form>
                    </td>
                    <td scope="row">
                        <form method="post" action="/remove/@Model[i].Id">
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove" />
                        </form>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td scope="row">@(i + 1)</td>
                    <td scope="row">@Model[i].Title</td>
                    <td scope="row">
                        <form method="post" action="/update/@Model[i].Id">
                            <input type="text" name="newTitle" placeholder="Rename task..." />
                            <label>Urgent? </label><input type="checkbox" name="isUrgent" value="true" />
                            <label>Done yet? </label><input type="checkbox" name="isDone" value="true" />
                            <input type="submit" class="btn btn-primary btn-sm" value="Update" />
                        </form>
                    </td>
                    <td scope="row">
                        <form method="post" action="/remove/@Model[i].Id">
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove" />
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
    <a href="/" class="btn btn-dark">Home</a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>